body {
	font-family: sans-serif;
	max-width: 800px;
	padding: 0.5em;
	margin: auto;
}

.content {
	padding: 0.5em;
}

.content p {
	line-height: 1.4;
}

.site-header, footer {
	background: #eee;
	margin: 0;
	padding: 0.5em;
}

footer p {
	margin: 0;
}

.site-nav {
  	display: flex;
}

.site-nav a {
  	display: block;
	padding: 0 0.5em;
	text-decoration: none;
}

.site-nav .logo {
  	font-weight: bold;
  	padding-left: 0;
	color: black;
	text-decoration: none;
}

.main-menu {
  	display: flex;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

footer {
	padding: 0.5em;
}

.post-snippet {
  	padding: 0 1rem;
	margin-bottom: 1em;
}

.post-snippet h3 {
  	margin-top: 0.25rem;
}

@media (prefers-color-scheme: dark) {

	body {
		background: #000;
		color: #fff;
	}

	.site-header, footer {
		background: #111;
	}

	.site-nav .logo {
		color: #fff;
	}

	a {
		color: #4d7dcb;
	}

	a:hover {
		color: #4c7ecf;
	}

	a:visited {
		color: #99a5d3;
	}
}
