@font-face { font-family: baskerville; 
			 src: url('/fonts/LibreBaskerville-Regular.ttf'); } 

/* LAYOUT */

body {
	font-family: baskerville;
  	max-width: 860px;
	padding: 1rem;
  	margin: 0 auto;
}

hr {
	border-top: 1px solid black;
}

.content {
	
}

.content p {
	line-height: 1.6;
}

/* NAVIGATION */

.site-nav {
  	display: flex;
}

.site-nav a {
  	display: block;
	padding: 0 0.5em;
	text-decoration: none;
}

.site-nav .logo {
  	font-weight: bold;
  	padding-left: 0;
	color: black;
	text-decoration: none;
}

.main-menu {
  	display: flex;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

@media screen and (max-width: 48rem) {
  	.site-nav,
  	.main-menu {
    	flex-direction: column;
  	}

  	.site-nav a {
    	padding: 0.5rem;
    	padding-left: 0;
  	}	
}

/* LISTS */

.post-snippet {
  	padding: 0 1rem;
	margin-bottom: 1em;
}

.post-snippet h3 {
  	margin-top: 0.25rem;
}
